.portfolio-box {
    height: 100%;
    background-position: center;
    min-height: 350px;
}

.sl-overlay {
    background-color: #000;
}
.sl-wrapper {

    .sl-close {
        color: #fff;
    }

    .sl-navigation button {
        color: #fff;
    }
}
#mainNav .navbar-nav .nav-item .nav-link,
#mainNav .navbar-brand {
    font-weight: 300;
}
